.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.women-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.women-item h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}
.women-item hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.man-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.man-item h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}
.man-item hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

@media(max-width:1280px){
    .popular{
        height: 70vh;
    }
    .popular h1{
        font-size: 40px;
    }
    .popular hr{
        width: 160px;
        height: 4px;
    }
    .popular-item{
        gap:20px;
        margin-top: 30px;
    }
    
}